import
<div class="container">
  <div class="sidebar" [ngClass]="{'collapsed': isCollapsed}">
    <button class="collapsible-btn" style="height: 20px; width: 30px; " (click)="toggleSidebar()">☰</button>
    <div class="content" *ngIf="!isCollapsed">
      <!-- <img src="assets/your-photo-url.jpg" alt="Your Photo"> -->
      <img class="profile-photo" style="height: 150px;width: 150px; padding: 10px;margin-top: 20px;" src="assets/images/1644230823794.jpg"
      alt="My Photo">
      <h2 class="profile-name" style="text-align: center;font-size: 35px;">Shrija Ray</h2>
      <h3 class="profile-role" style="text-align: center;font-size:20px ;margin-top: -20px; ">Software Developer</h3>
      <div class="icons-navigator" style="margin-top: 20px;display: flex;flex-direction: column;">
      <a href="/home#bio"><div style="display:flex;flex-direction: row;"><img src="https://img.icons8.com/?size=100&id=45139&format=png&color=FFFFFF" style="height: 30px;width: 30px;margin-top: -7px;margin-right: 10px;"/>About Me</div></a>
      <a href="/home#portfolio"><div style="display:flex;flex-direction: row;"><img src="https://img.icons8.com/?size=100&id=q3fTaQ6ZRN7X&format=png&color=FFFFFF"style="height: 30px;width: 30px;margin-top: -7px;margin-right: 10px;"/>Portfolio</div></a>
      <a href="/home#blog"><div style="display:flex;flex-direction: row;"><img src="https://img.icons8.com/?size=100&id=eUSJNz55cZEC&format=png&color=FFFFFF"style="height: 30px;width: 30px;margin-top: -7px;margin-right: 10px;"/>Blog</div></a>
      <a href="/home#contact"><div style="display:flex;flex-direction: row;"><img src="https://img.icons8.com/?size=100&id=x4gbE1cHlqJd&format=png&color=FFFFFF"style="height: 30px;width: 30px;margin-top: -7px;margin-right: 10px;"/>Contact</div></a>
    </div>
    </div>
    <div class="icons" style="margin-top: 100px;" *ngIf="isCollapsed">
      <a href="/home#bio"><div style="display:flex;flex-direction: row;"><img src="https://img.icons8.com/?size=100&id=45139&format=png&color=FFFFFF" style="height: 30px;width: 30px;margin-top: -7px;margin-right: 10px;"/></div></a>
      <a href="/home#portfolio"><div style="display:flex;flex-direction: row;"><img src="https://img.icons8.com/?size=100&id=q3fTaQ6ZRN7X&format=png&color=FFFFFF"style="height: 30px;width: 30px;margin-top: -7px;margin-right: 10px;"/></div></a>
      <a href="/home#blog"><div style="display:flex;flex-direction: row;"><img src="https://img.icons8.com/?size=100&id=eUSJNz55cZEC&format=png&color=FFFFFF"style="height: 30px;width: 30px;margin-top: -7px;margin-right: 10px;"/></div></a>
      <a href="/home#contact"><div style="display:flex;flex-direction: row;"><img src="https://img.icons8.com/?size=100&id=x4gbE1cHlqJd&format=png&color=FFFFFF"style="height: 30px;width: 30px;margin-top: -7px;margin-right: 10px;"/></div></a>
    </div>
  </div>
  <div class="main-content" [ngClass]="{'collapsed-content': isCollapsed}">
    <header>
      <div style="margin-left: 550px;">
      <h1>Shrija Ray</h1>
      <p>Software Developer</p>
    </div>
      <div class="icon-container" style="margin-left: 350px;margin-top: 50px;">
        <div class="icon" (click)="navigateTo(linkedinUrl)" title="LinkedIn">
          <img src="assets/icons/linkedin.svg" alt="LinkedIn" />
        </div>
        <div class="icon" (click)="navigateTo(githubUrl)" title="GitHub">
          <img src="assets/icons/github.svg" alt="GitHub" />
        </div>
        <div class="icon" (click)="sendMail()" title="Mail">
          <img src="assets/icons/mail.svg" alt="Mail" />
        </div>
        <div class="icon dropdown" (click)="toggleContactDropdown()" title="Call">
          <img src="assets/icons/phone.svg" alt="Call" />
          <div class="dropdown-content" *ngIf="showContact">
            <p>{{ contactNumber }}</p>
          </div>
        </div>
      </div>
      
    </header>
    <router-outlet></router-outlet>

    
  

    <footer>
      <p>&copy; 2024 Shrija Ray. All rights reserved.</p>
    </footer>
  </div>
</div>
